*.o
*.so
*.dylib
*.mod
*__pycache__*
*~
matlab/clusol.h
include/clusol.h
matlab/libclusol_proto*.m
*.DS_Store
.MATLABDriveTag

# Pre-compiled shared libraries (allow these to be committed)
!pylusol/lib/
!pylusol/lib/*.so
!pylusol/lib/*.dylib
!pylusol/lib/*.dll

# Python
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!pylusol/lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
